.mainBlock {
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;

  background-color: white;
}

.articlesBlock {
  width: 500px;
}
.title {
  color: black;
  margin-bottom: 20px;
}
