.errorBox {
   box-shadow: 10px 10px 5px 5px rgba(106, 121, 247, 0.1);

  
  
  min-height: 280px;
  width: 40vw;
  margin: 100px auto;
  border-radius: 5px;
  background-image: url("https://i.ibb.co/ZmbV1fy/background.png");
background-repeat: no-repeat;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
h2 {font-family:Verdana; text-align:center;color:white;}
h3{text-shadow:2px 2px 3px black;color: white;text-align:center;}
.link {
  color: coral;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
